####################### GEOSERVER  SETTINGS ######################################
## Below 3 variables are importat for end user. Please change them accordingly ##
GEOSERVER_PORT=8080     
GEOSERVER_ADMIN_USER=admin
GEOSERVER_ADMIN_PASSWORD=geoserver
####################### POSTGIS  SETTINGS ######################################
# kartoza/postgis env variables https://github.com/kartoza/docker-postgis
## Below username,password,IP and database name are important for end user. Please change them accordingly ##
POSTGIS_VERSION_TAG=15-3.3
POSTGRES_DB=gis
POSTGRES_USER=docker
POSTGRES_PASS=docker
ALLOW_IP_RANGE=0.0.0.0/0
POSTGRES_PORT=5435
###### WEB APP ######
VITE_MAPTILER_API_KEY=testKey
VITE_MAPTILER_API_MAP_ID=streets-v2
VITE_GEOSERVER_USERNAME=${GEOSERVER_ADMIN_USER}
VITE_GEOSERVER_PASSWORD=${GEOSERVER_ADMIN_PASSWORD}
VITE_GEOSERVER_BASE_URL="http://localhost:${GEOSERVER_PORT}/geoserver"
VITE_GEOSERVER_REST_URL="http://localhost:${GEOSERVER_PORT}/geoserver/rest"
VITE_MAP_START_LNG="Starting longitude for map"
VITE_MAP_START_LAT="Starting latitude for map"
VITE_BASE_URL="/"
VITE_PARTICIPATION_DEMO_LAYER="kochi_CTP_GPKG"
VITE_PARTICIPATION_DEMO_WORKSPACE="CTP"
VITE_PARTICIPATION_DEMO_LAT="76.268798"
VITE_PARTICIPATION_DEMO_LON="9.978536"

