# local env files
.env.local
.env.*.local
.env
**/.env
.env.production
.env.development
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# vscode
/.vscode
TOSCA-2
openrouteservice
pmtiles
geospatial_data_folder/Hamburg_Sentinel2-RGB_v2.tif